<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <appSettings>
        <add key = "USERID" value = "642CVPCO3837"/>
        <add key ="API_URL" value = "https://secure.shippingapis.com/ShippingAPI.dll?API=ZipCodeLookup&amp;XML="/>
        <add key = "InputFileName" value = "AddressesWithNoZipCodes.csv"/>
        <add key = "MaxRequestLength" value = "5"/>
         
            
        
     </appSettings>
</configuration>
